@import url('styles.css');

.card {
    background: var(--bg-card);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: 15px;
    font-family: sans-serif;
}

.card-header {
    position: relative;
    height: 200px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-fav {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}

.icon-fav svg {
    transition: all 0.3s ease;
    cursor: pointer;
    fill: none;
    stroke: currentColor;
}

.icon-fav.active {
    background: var(--icon-fav);
    border-color: var(--icon-fav);
}

.icon-fav.active svg {
    fill: var(--bg-card);
    stroke: var(--bg-card);
    transform: scale(1.2);
}

.type-badge {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: var(--primary);
    color: var(--bg-card);
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.card-content {
    padding: 20px;
}

.card-title-details {
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-main);
}

.card-title {
    font-size: 1.4rem;
    color: var(--text-main);
    margin: 0;
    line-height: 1.2;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-location {
    color: var(--text-main);
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
}

.card-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-light);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card-date {
    order: 3;
    margin-top: 15px;
    font-size: 0.85rem;
}

.date-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.date-item small {
    font-size: 0.6rem;
    color: var(--text-light);
    letter-spacing: 1px;
}

.date-item span {
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--text-main);
}

.date-sep {
    width: 1px;
    height: 20px;
    background: #d1d5db;
}

.card-description {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #4b5563;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--text-light);
    padding-top: 15px;
}

.price-tag {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary);
}

.btn-buy {
    background: var(--primary);
    color: var(--bg-card);
    ;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

#view-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}