@import url('styles.css');


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-left a {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  width: 135px;
  height: auto;
  object-fit: contain;
}

.nav-right a {
  display: flex;
  align-items: center;
}

/* SECCIONES */
.weather-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.weather-card {
  background: var(--primary);
  backdrop-filter: blur(8px);
  border-radius: 24px;
  padding: 20px 40px;
  color: var(--bg-card);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.weather-card h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.weather-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.weather-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.weather-item .label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.weather-item .value {
  font-size: 1.1rem;
  font-weight: 600;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: auto;
  background: #222;
  color: #fff;
  font-size: 0.9rem;
}

.footer p {
  margin: 0;
}


@media(max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .nav-left,
  .nav-right {
    justify-content: center;
  }

  .login-btn {
    width: 100%;
    text-align: center;
  }
}